
html,
body {
    height: 100%;
}

input:focus {
    outline: none;
}

.UserLogo {
    border-radius: 50%;
    max-width: 7vh;
    max-height: auto;
    margin-bottom: 0.5em;
}

.heart.Full {
    font-variation-settings: 'FILL' 1, 'wght' 100, 'GRAD' 0, 'opsz' 48;
    margin-left: auto;
}


.OverallContainer {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.NoPosts {
    display: none;
    gap: 1vh;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: x-large;
}

.material-symbols-outlined.ExpandNavButton {
    display: none;
    cursor: pointer;
}