* { 
    margin:0; 
    padding:0; 
    box-sizing:border-box;
    font-family: "Arial Narrow", Arial, "Helvetica Condensed", Helvetica, sans-serif; 
}
html, body{
    height: 100%;
}

.WebsiteLogo{
    border-radius: 50%;
    max-width: 9vh;
    max-height: auto;
    margin-bottom: 0.5em;
    
}

input:focus{
    outline: none;
    }

.UserLogo{
    border-radius: 50%;
    max-width: 7vh;
    max-height: auto;
    margin-bottom: 0.5em;
    
}
.PostCard{
    padding: 1em 2em 2em 1em;
    display: flex;
    flex-direction: column;
    background-color: #203246;
    border-radius: 1vh;
    color: #FFFFFF;
}
.MainView{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding-left: 2% ;
    padding-right: 2% ;
    
}
.heart.Full{
    font-variation-settings: 'FILL' 1, 'wght' 100, 'GRAD' 0, 'opsz' 48;
}

.UserLogoIcon.Headder{
    font-variation-settings: 'FILL' 1, 'wght' 1000, 'GRAD' 0, 'opsz' 48;
}

.material-symbols-outlined.UserLogoIcon.PostUser{
    font-variation-settings: 'FILL' 1, 'wght' 200, 'GRAD' 0, 'opsz' 48;
}


.OverallContainer{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.NavFlex{
    container-type: inline-size;
    container-name: Navbar;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 3vh 1vh 1vh 3vh;
    gap: 1vh;
    box-shadow: 0 0.063em 0.25em;
}
.SearchBar{
    display: flex;
    border: 0.09em solid black;
    border-radius: 0.5em;  
    background-color: #FFFFFF;
    padding: 0.5vh;
}



.ViewProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PostButton{
    margin-left: auto;
    padding: 1vh;
    border-radius:1em;
    margin-right: 10%;
    cursor: pointer;

}

.SearchInputClass{
    border-style:none;
}



.Categories{
    border: 0.09em solid black;
    border-radius: 0.5em;  
    padding: 1vh;
}

.PostHeadder{
    display: flex;
    flex-direction: row;
    padding-bottom: 1em;
    
}

.PostUserdetails{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin-left: auto;
    gap: 0.5vh;   
}

.PostUserLogo{
    max-width: 2vh;
    max-height: auto;
    margin-bottom: 0em;
}

.CardBody{
    display: flex;
    align-items: center;
    gap: 10vh;
}

.NoPosts{
    display: flex;
    gap: 1vh;
    align-items: center;
    justify-content: center;
}

.material-symbols-outlined.ExpandNavButton{
    display: none;
    cursor: pointer;
}

@container Navbar (max-width: 50%) {
    .SearchBar{
        display: none;
    }
    .Categories{
        display: none;
    }
    .material-symbols-outlined.ExpandNavButton{
        display:block;
    } 
}