* { 
    margin:0; 
    padding:0; 
    box-sizing:border-box;
    font-family: "Arial Narrow", Arial, "Helvetica Condensed", Helvetica, sans-serif; 

}
html, body{
    height: 100%;
}

.UserLogo{
    border-radius: 50%;
    max-width: 7vh;
    max-height: auto;
    margin-bottom: 0.5em;
    
}
.MainView{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    flex-grow: 5;
    overflow: auto;
    padding-left: 2% ;
    padding-right: 2% ;
    
}

input,textarea:focus{
    outline: none;
}

.OverallContainer{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.ErrorMessage{
    font-size: 0.6rem;
    color: red;
}

.CreatePostContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.InputStyling{
    padding: 1vh;
}

.CreatePostPopUp{
    outline: solid black 0.063em;    
    display: flex;
    background-color: #D9D9D9 ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em 2em 1em 2em;
    border-radius: 2em;
    min-width: 60%;
    min-height: 30%;
}
.NewPostFormClass{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    flex-wrap: wrap;
    width: 100%;
}

.CreatePostHeadder{
    margin-right: auto;
    margin-bottom: 1rem;
}

.fPostBody{
    max-block-size: 85%;
    resize: vertical;
    min-height: 5em;
}

.PostButtonSubmitClass{
    align-self: flex-end;
    max-width: 80%;
    padding: 0.3em;
}

