.UserLogo {
  border-radius: 50%;
  max-width: 7vh;
  max-height: auto;
  margin-bottom: 0.5em;
}

span.material-symbols-outlined.AddComment {
  margin-left: auto;
  cursor: pointer;
}

span.material-symbols-outlined.LikeComment {
  cursor: pointer;
}

input,
textarea:focus {
  outline: none;
}

.OverallContainer {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.NewComment {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vh;
  border: 0.09em solid black;
  border-radius: 0.5em;
  background-color: #f8f8f8;
}

.CommentContainer {
  display: flex;
  background-color: #f8f8f8;
  margin-top: 1em;
  padding: 1em;
  border-radius: 3vh;
  flex-direction: column;
  gap: 1vh;
  animation: fade-in 1s ease;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.CommentInputClass {
  max-block-size: 85%;
  resize: vertical;
  min-height: 3em;
  width: 95%;
  border-style: none;
  max-height: 10em;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  /* font-size: large; */
}

.PlacedComment {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  padding: 1vh;
  border: 0.09em solid black;
  border-radius: 0.5em;
  margin-bottom: 0.35em;
  background-color: #f8f8f8;
}

.NoComments {
  display: none;
  gap: 1vh;
  align-items: center;
  justify-content: center;
  color: black;
}

.UserLogoIcon.CardIcon {
  height: 2em;
}

.UserLogoIcon.CardIcon.Comment {
  margin-left: 0;
  margin-right: 0.5em;
}

.CommentHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-bottom: 1em;
}

.UserLogoIcon.CardIcon {
  height: 2.5em;
}
