* { 
    margin:0; 
    padding:0; 
    box-sizing:border-box;
    font-family: "Arial Narrow", Arial, "Helvetica Condensed", Helvetica, sans-serif; 

}
html, body{
    height: 100%;
}

input:focus{
    outline: none;
    }

.UserLogo{
    border-radius: 50%;
    max-width: 7vh;
    max-height: auto;
    margin-bottom: 0.5em;
    
}
.PostCard{
    padding: 3vh 1vh 3vh 3vh;
    display: flex;
    flex-direction: column;
    background-color: #203246;
    color: white;
    border-radius: 1vh;
}
.MainView{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    flex-grow: 5;
    overflow: auto;
    padding-left: 2% ;
    padding-right: 2% ;
    
}

span.material-symbols-outlined.HomeButton{
    font-size: 6.5vh;
    font-variation-settings: 'OPSZ' 48;
}

span.material-symbols-outlined.AddComment{
    margin-left: auto;
    cursor: pointer;
}

span.material-symbols-outlined.LikeComment{
    cursor: pointer;
}

input,textarea:focus{
    outline: none;
    }

.OverallContainer{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.NavFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 3vh 1vh 1vh 3vh;
    gap: 1vh;
    box-shadow: 0 0.125em 0.25em 0 rgba(0,0,0,.2);
}

.ViewProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PostButtonClass{
    margin-left: auto;
    padding: 1vh;
    border-radius:1em;
    margin-right: 10%;
    cursor: pointer;
}

#SearchInput{
    border-style:none;
}

.HomeButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5vh;
    cursor: pointer;
}

#Categories{
    border: 0.09em solid black;
    border-radius: 0.5em;  
    padding: 0.5vh;
    border-style:none;
}

.PostHeadder{
    display: flex;
    flex-direction: row;   
}

.PostUserdetails{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin-left: auto;
    gap: 0.5vh;   
}

.PostUserLogo{
    max-width: 2vh;
    max-height: auto;
    margin-bottom: 0em;
}

.CardBody{
    display: flex;
    align-items: center;
    gap: 10vh;
}

.NewComment{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh;
    border: 0.09em solid black;
    border-radius: 0.5em;  
}

.CommentInputClass{
    max-block-size: 85%;
    resize: vertical;
    min-height: 3em;
    width:95%;
    border-style: none;
}

.PlacedComment{
    display: flex;
    gap: 1vh;
    padding: 1vh;
    border: 0.09em solid black;
    border-radius: 0.5em;  
}

.NoComments{
    display: flex;
    gap: 1vh;
    align-items: center;
    justify-content: center;
}

