* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial Narrow", Arial, "Helvetica Condensed", Helvetica,
    sans-serif;
}

body {
  height: 100%;
}

#content-container {
  padding-top: 1.5em;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  /* background-color: #F8F8F8; */
  background-color: #203246;
}

input:focus {
  outline: none;
}

.WebsiteLogo {
  border-radius: 50%;
  max-width: auto;
  height: 4em;
  cursor: pointer;
}

.NavFlex {
  container-type: inline-size;
  container-name: Navbar;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 1em 1em 1em 1em;
  gap: 1vh;
  box-shadow: 0 0.063em 0.25em;
  align-items: center;
  background-color: #f8f8f8;
}

.MainView {
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
  flex-grow: 5;
  overflow: auto;
  padding-left: 2%;
  padding-right: 2%;
  max-width: 130vh;
  padding-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
}

.PostHeadder {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.PostUserdetails {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  gap: 0.5vh;
}

.PostUserLogo {
  margin-right: auto;
  margin-left: auto;
}

.CardBody {
  display: flex;
  align-items: center;
  gap: 10vh;
}

.SearchBar {
  display: flex;
  border: 0.09em solid black;
  border-radius: 0.5em;
  background-color: #ffffff;
  padding: 0.5vh;
  max-width: 20em;
  width: 100%;
}

.Categories {
  border: 0.09em solid black;
  border-radius: 0.5em;
  padding: 1vh;
  max-width: 20em;
  width: 100%;
}

.NavFlex button {
  cursor: pointer;
  background-color: #203246;
  border: 0;
  border-radius: 6.25em;
  color: #ffffff;
  font-size: 1em;
  min-height: 2.5em;
  overflow: hidden;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
}

#CreatePost:hover,
#Search:hover {
  background-color: #3d5570;
}

#Categories:hover {
  background-color: #e0e0e0;
}

.NavFlex button:hover,
.NavFlex button:focus {
  background-color: #203246;
  color: #ffffff;
}

.PostButtonNav {
  margin-left: auto;
  padding: 1vh;
  border-radius: 0.5em;
  margin-right: 1.5em;
  cursor: pointer;
  text-wrap: nowrap;
  cursor: pointer;
  background-color: #203246;
  border: 0;
  border-radius: 6.25em;
  color: #ffffff;
  font-size: 1em;
  min-height: 2.5em;
  overflow: hidden;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  display: flex;
  align-items: center;
}

.PostButtonMobile {
  display: none;
  padding: 3%;
  border-radius: 0.5em;
  margin-top: auto;
  margin-bottom: 3vh;
  margin-right: 3vh;
  border-radius: 100%;
  cursor: pointer;
  height: 5em;
  width: 5em;
  background-color: #f03836;
  color: white;
  position: fixed;
  bottom: 0;
  right: 0;
  align-items: center;
  justify-content: center;
}

.ViewProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  height: 100%;
  align-self: flex-end;
}

.ViewProfile p {
  text-wrap: nowrap;
}

.hide {
  display: none;
}

.SearchInputClass {
  border-style: none;
  width: inherit;
}

.UserLogoIcon {
  height: 3em;
  width: auto;
  margin-left: auto;
  border-radius: 100%;
  border: solid #f8f8f8 2px;
}

.UserLogoIcon.CardIcon {
  height: 2em;
}

.PostButtonMobile.hide {
  display: none;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.PlacedComment {
  animation: slide-up 0.4s ease;
}

.PostCard {
  padding: 4vh;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  border-radius: 3vh;
  margin: auto;
  color: #000000;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  animation: slide-up 0.4s ease;
}

.CategoryTag {
  font-size: medium;
  margin-top: 1em;
  margin-bottom: 1em;
}

.PostCard:hover {
  transform: scale(1.01);
}

.PostCard:hover {
  transform: scale(1.01);
}

@container Navbar (max-width: 62em) {
  .PostButton {
    display: none;
  }
  .ViewProfile {
    margin-left: auto;
  }
  .PostButtonNav {
    display: none;
  }
}

@container Navbar (max-width: 55em) {
  .Categories {
    display: none;
  }
  .SearchButton {
    display: none;
  }
  .SearchBar {
    margin: 1em;
    width: 100%;
  }
  .SearchBar {
    margin: 1em;
    width: 100%;
    max-width: 100%;
    margin-left: 2em;
    margin-right: 2em;
  }
  .ViewProfile {
    align-self: flex-end;
    align-items: center;
    justify-content: center;
  }
  .PostButtonNav {
    display: none;
  }
  .material-symbols-outlined {
    cursor: pointer;
  }
}

@media (max-width: 64em) {
  .PostButtonMobile {
    display: flex;
  }
}

#NavbarLogo:hover {
  transform: rotate(-0.05turn);
}
