* { 
    margin:0; 
    padding:0; 
    box-sizing:border-box;
    font-family: "Arial Narrow", Arial, "Helvetica Condensed", Helvetica, sans-serif; 

}

.ErrorMessage{
    font-size: 0.6rem;
    color: red;
    margin-right: auto;
}

.WebsiteLogo{
    border-radius: 50%;
    max-width: 8em;
    max-height: auto;
    margin-bottom: 0.5em;
    
}

#LoginHeadder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 3;
}

#NewUserNameFlex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#UserNameForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#NewUserCard{
    outline: solid black 1px;    
    display: flex;
    background-color: #D9D9D9 ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    border-radius: 2em;
    outline: solid black 1px;    
    display: flex;
    background-color: #D9D9D9 ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    border-radius: 2em;
    gap: 0.5em;
}

#fUsername{
    padding: 1vh;
}

#CreateUsernameButton{
    display: flex;
    align-items: center;
    padding-left: 1em;
    padding: 0.7em;
    border-radius: 1em;
    flex-shrink: 0;
    gap: 1em;
}

#CreatePostContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#CreatePostPopUp{
    outline: solid black 1px;    
    display: flex;
    background-color: #D9D9D9 ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    border-radius: 2em;
}
